
<div class="box">
  <div>
    <h3>Welcome Back, <br>
      <%= @operator.name %>!</h3>
  </div>

  <div class="image">
  <img src="<%=( @operator.image ) %>" alt="">
  </div>

  <p>
    <strong>Name:</strong>
    <%= @operator.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= @operator.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @operator.email %>
  </p>

  <p>
    <strong>Restaurants:</strong>
          <% @restaurant.each do |restaurant| %>
              <br>
              <%= link_to(restaurant.name, restaurant_path(restaurant)) %>
          <% end %>
      </ul>
  </p>

  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_operator_path %></button>
  &nbsp
  <button type="button" class="btn btn-default"><%= link_to 'Add Restaurant', new_restaurant_path %></button>

</div>
