<!DOCTYPE html>
<html>
  <head>
    <title>SeatThemAllApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
        <div>
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Seat Them All</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if(@current_operator) %>
                <li>
                  <%= link_to(operator_path(@current_operator.id)) do %>
                    Hello, <%=@current_operator.name%>! <i class="fa fa-user-circle-o"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to(edit_operator_path(@current_operator.id)) do %>
                    Edit Profile <i class="fa fa-pencil"></i>
                  <% end %>
                </li>
                <li>
                  <a rel="nofollow" data-method="delete" href="/logout">Logout<i class="fa fa-sign-out"></i></a>
                </li>
                &nbsp
              <% else %>
                <li><a href="/login">Login <i class="fa fa-sign-in"></i></a></li>
                <li><a href="/register">Register <i class="fa fa-user-plus"></i></a> </li>
              <% end %>
              &nbsp
            </ul>
            <ul class="nav navbar-nav">
              <% if(@current_operator) %>
                <li><%= link_to("Restaurant", "/restaurants") %></li>
                <li><%= link_to("Floor Plans", "/floorplans") %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
<br>
    <%= yield %>

  </body>
</html>
